
$primary: #007AFF;
$primary-hover: #0263ca;
$secondary: #6E8BB7;
$primary-background: #007bff24;
$row-hover: #F5F6F7;
$border-color: #E0E0E0;
$dark-main: #1e272c;
$dark-secondary: #2b363c;
$dark-border: #ffffff1a;
